{% extends 'base.html.twig' %}

{% block title %}Saison
{% endblock %}

{% block body %}
	<h1>Saison</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ season.id }}</td>
			</tr>
			<tr>
				<th>Saison n°</th>
				<td>{{ season.number }}</td>
			</tr>
			<tr>
				<th>Année</th>
				<td>{{ season.year }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ season.description }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('season_edit', {'id': season.id}) }}">Modifier</a>

	<a href="{{ path('season_index') }}">Retout à la liste</a>

	{% for episode in episodes %}
		<div>
			<a href="{{ path('program_episode_show', { "program_id": program.id, "season_id": season.id, "episode_id": episode.id }) }}">
				<h3>
					{{ episode.title }}
				</h3>
			</a><br>
			<p>Episode n°
				{{ episode.number }}</p>
			<p>Résumé :
				{{ episode.synopsis }}</p>
		</div>
	{% else %}
		Aucun épisode n'est trouvée.
		<br>
	{% endfor %}

	{{ include('season/_delete_form.html.twig') }}
{% endblock %}
