{% extends 'base.html.twig' %}

{% block title %}Saison n°{{ season.number }}
{% endblock %}

{% block body %}
	<h1>{{ program.title }}</h1><br>
	<h2>Saison
		{{ season.number }}</h2><br>

	{% for episode in episodes %}
		<div>
			<a href="{{ path('program_episode_show', { "program_id": program.id, "season_id": season.id, "episode_id": episode.id }) }}">
				<h3>
					{{ episode.title }}
				</h3>
			</a><br>
			<p>Episode n°
				{{ episode.number }}</p>
			<p>Résumé :
				{{ episode.synopsis }}</p>
		</div>
	{% else %}
		Aucun épisode n'est trouvée.
		<br>
	{% endfor %}

	<a href="{{ path("program_show", { "program_id": program.id }) }}">
		Retour à la liste des saisons
	</a>
{% endblock %}
