{% extends 'base.html.twig' %}

{% block title %}Episode n°{{ episode.number }}
{% endblock %}

{% block body %}
	<h1>{{ program.title }}</h1><br>
	<h2>Saison
		{{ season.number }}</h2><br>
	<h3>Episode n°{{ episode.number }}
		-
		{{ episode.title }}</h3><br>
	<p>Resumé :<br>{{ episode.synopsis }}</p>

	<a href="{{ path('program_season_show', { "program_id": program.id, "season_id": season.id }) }}">
		Retour à la liste des saisons
	</a>
{% endblock %}
